{{ if eq .Language.Lang "zh-cn" }}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.alibabagroup.com/css?family=Alibaba-PuHuiTi" rel="stylesheet">
{{ end }}

{{ if eq .Language.Lang "en" }}
<!-- 英文字体：Roboto -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{{ end }}